@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 248 248 245;
  --foreground: 23 23 23;
}

.dark {
  --background: 12 12 12;
  --foreground: 245 245 245;
}

body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
}

.container-px {
  @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
}
